.message {
  padding : 10px;
  margin: 10px;
  width : fit-content
}
.message__user {
  margin-left: auto;
  text-align: right;
}
.message__user .username {
  margin-right: 7px;
}
.false .username {
  text-align: left;
  margin-left: 7px;
}
.message__userCard {
  background-color: blueviolet !important;
  color : white !important;
}
.message__guestCard {
  background-color: #eee !important;
  color : black;
}
.form {
  width: 65%;
  padding : 20px;
  position: fixed;
  bottom : 0;
  z-index: 1;
  background-color: #ddd;
  margin : 20px;
}
.app_formControl {
  display : flex !important;
  flex-direction:  row !important;
}